<!-- ngSubmite executa uma função quando o formulario é enviado -->
<!-- [formGroup] define o grupo do formulario, apos isso temos que colocar no component.ts -->
<div class="moment-form">
    <div class="row">

        <div class="col-lg-7">
            <h3>Compartilhe seu momento memoravel conosco</h3>
            <form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
                <div class="row">
                    <div class="col-lg-12">
                        <label for="name" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="name" placeholder="Seu nome completo" formControlName="name" required>
                        <!-- Estoura o erro, se o titulo for invalido, e o formDir for enviado -->
                        <div *ngIf="name.invalid && formDir.submitted" class="alert alert-danger" role="alert">
                            <p *ngIf="name.errors?.['required']">O Nome é obrigatorio</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="E-mail" formControlName="email" required>
                        <div *ngIf="email.invalid && formDir.submitted" class="alert alert-danger" role="alert">
                            <p *ngIf="email.errors?.['required']">O E-mail é obrigatorio</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="data" class="form-label">Data:</label>
                        <input type="datetime-local" class="form-control" id="data" formControlName="data" required>
                        <div *ngIf="data.invalid && formDir.submitted" class="alert alert-danger" role="alert">
                            <p *ngIf="data.errors?.['required']">A data é obrigatorio</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label for="title" class="form-label">Titulo:</label>
                        <input type="text" class="form-control" id="title" placeholder="Titulo" formControlName="title" required>
                        <div *ngIf="title.invalid && formDir.submitted" class="alert alert-danger" role="alert">
                            <p *ngIf="title.errors?.['required']">O titulo é obrigatorio</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label for="description" class="form-label">Descrição:</label>
                        <input type="text" class="form-control" id="description" placeholder="Descreva seu momento" formControlName="description" required>
                        <div *ngIf="description.invalid && formDir.submitted" class="alert alert-danger" role="alert">
                            <p *ngIf="description.errors?.['required']">A descrição é obrigatorio</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label for="image" class="form-label">Fotos do momento</label>
                        <input type="file" (change)="onFileSelected($event)" class="form-control" id="image" formControlName="image" required>
                    </div>
                    <div class="col-lg-12 form-btn">
                        <input type="submit" class="btn btn-primary" value="{{ btnText }}" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-5">
            <div class="image">
                <img src="https://picsum.photos/550/500">
            </div>
        </div>
    </div>
</div>