<div class="wallpaper">
    <div class="container">
        <div class="content">
            <h1 class="animate__animated animate__bounce">Aproveite Cada momento</h1>
            <h2>Faça deles, os seus melhores</h2>
        </div>
    </div>
</div>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-6 co-lg-6 left">
                <div class="title">
                    <h2>Titulo lorem</h2>
                </div>
                <div class="text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
            <div class="col-6 co-lg-6 right">
                <div class="title">
                    <h2>Titulo lorem</h2>
                </div>
                <div class="text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial">
    <div class="container">
        <div class="title">
            <div id="carousel_testimonials" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="container content_testimonial">
                            <div class="author">
                                <img width="130" height="130" src="https://picsum.photos/200/300">
                            </div>
                            <div class="text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                            </div>
                            <div class="by">
                                <p>Pedro Pauluci</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="container content_testimonial">
                            <div class="author">
                                <img width="130" height="130" src="https://picsum.photos/200/300">
                            </div>
                            <div class="text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                            </div>
                            <div class="by">
                                <p>Pedro Pauluci</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container content_testimonial">
                            <div class="author">
                                <img width="130" height="130" src="https://picsum.photos/200/300">
                            </div>
                            <div class="text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                            </div>
                            <div class="by">
                                <p>Pedro Pauluci</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel_testimonials" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel_testimonials" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
                    <button type="button" data-bs-target="#carousel_testimonials" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel_testimonials" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel_testimonials" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>