div.wallpaper {
    height: 650px;
    background-image: url(/assets/img/wall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(45%);
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
            text-align: center;
            color: white;
            text-shadow: 3px 2px 3px black;
        }
    }
}

.about-moment {
    margin-top: 100px;
}