/* You can add global styles to this file, and also import other style files */

body {
    min-height: 100vh !important;
    height: 100%;
}

.alert {
    transition: 3s;
    position: relative;
    padding: 10px 15px !important;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-top: 10px;
    animation: bounceIn;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
    p {
        margin: 0;
    }
}

.anime {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
    transition: .3s;
    /* passar animate */
}

.anime-start {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

h2 {
    font-size: 35px !important;
}