div.wallpaper {
    height: 650px;
    background-image: url(/assets/img/wall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(45%);
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
            text-align: center;
            color: white;
            text-shadow: 3px 2px 3px black;
        }
    }
}

.content {
    margin-top: 100px;
    .search-moments {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        form.bd-search {
            input {
                border-radius: 20px;
                width: 450px;
                padding: 5px 20px;
            }
        }
        .bd-search::after {
            position: absolute;
            top: 0.4rem;
            right: 0.4rem;
            display: flex;
            height: 1.5rem;
            padding-right: 0.25rem;
            padding-left: 0.25rem;
            font-size: .75rem;
            color: #6c757d;
            content: "Ctrl + /";
            border: 1px solid #dee2e6;
            border-radius: 0.125rem;
        }
    }
    .moments {
        padding: 30px;
        img {
            width: 400px;
            height: 200px;
        }
        .assin {
            display: flex;
            justify-content: space-between;
        }
        .title {
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 5px;
        }
        .info {
            display: flex;
            justify-content: space-between;
            .comment {
                font-size: 13px;
            }
            .details {
                letter-spacing: 3px;
                text-decoration: none;
                a {
                    text-decoration: none;
                }
            }
            .details:hover {
                animation: wobble;
                /* referring directly to the animation's @keyframe declaration */
                animation-duration: 1s;
            }
        }
    }
}

.no-moments {
    margin-top: 100px;
    min-height: 350px;
    text-align: center;
    .title {
        h2 {
            animation: swing;
            animation-duration: 1.5s;
        }
    }
    .content {
        margin-top: 70px;
        h3 {
            font-size: 20px;
            animation: bounceInLeft;
            animation-duration: 1.5s;
            --animate-delay: 3s;
        }
    }
}